*{
	padding: 0;
	margin: 0;
	text-align: center;
}

#start{
	cursor: pointer;
	width: 150px;
	margin: 2px auto;
}

button{
	padding: 5px;
}

.container{
	max-width: 960px;
	width: 90%;
	margin: auto;
	overflow: auto;
	border: 2px solid grey;
}

.grid{
	float: left;
	border: 1px solid #8c8c8c;

}

.colored{
	/*background-color: black;*/
}